.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --second-font: "Raleway";
  --first-color: #212121;
  --second-color: #2196F3;
  --element-font-color: #FFFFFF;
  --background-color-section: #F5F4FA;
  --transition-duration-standart: 250ms ;
  --transition-timing-standart:cubic-bezier(0.4, 0, 0.2, 1) ;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
  background-color: var(--element-font-color);
  padding-top: 80px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-first {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-bottom: 94px;
  padding-top: 94px;
}

.container-second {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  padding-bottom: 94px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--element-font-color);
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.about-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
}

.work-card__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.hero-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 0.06em;
  background-color: var(--second-color);
  color: var(--element-font-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188CE8;
}

.btn-sing-up {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--element-font-color);
  background-color: var(--second-color);
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  margin-bottom: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--element-font-color);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contact-item:hover {
  fill: var(--second-color);
}

.header-contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header-contact-item:not(:first-child) {
  margin-left: 50px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.header-contact-link:hover, .header-contact-link:focus {
  color: var(--second-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.first-part-logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.last-part-logo {
  font-family: var(--second-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.nav-item:not(:first-child) {
  text-align: center;
  margin-left: 50px;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition-property: color, opacity;
  transition-property: color, opacity;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.nav-link.current {
  color: var(--second-color);
}
.nav-link:hover, .nav-link:focus {
  color: var(--second-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--second-color);
  opacity: 0;
  -webkit-transition-property: color, opacity;
  transition-property: color, opacity;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.nav-link.current::after,
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  color: var(--second-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/baground.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/baground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list__item {
  width: 270px;
}
.about-list__item:not(:first-child) {
  margin-left: 30px;
}

.about-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--background-color-section);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.about-list__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients-company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients-company__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  color: #AFB1B8;
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.clients-company__link:hover, .clients-company__link:focus {
  border-color: var(--second-color);
  color: var(--second-color);
}

.clients-company__icon {
  fill: currentColor;
}

.social-list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--element-font-color);
  color: #AFB1B8;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.social-link:hover, .social-link:focus {
  background-color: var(--second-color);
}

.social-link:hover, .social-list-icons {
  fill: var(--element-font-color);
}

.social-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.social-list-icons {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
}

.social-link {
  fill: currentColor;
}

.team-section {
  background: var(--background-color-section);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.card:not(:first-child) {
  margin-left: 30px;
}

.card {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card-styles {
  background-color: var(--element-font-color);
  width: 270px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}

.text-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-card-div {
  padding-bottom: 30px;
  padding-top: 30px;
}

.work-card__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.work-card__item:not(:first-child) {
  margin-left: 30px;
}

.work-card__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-text {
  position: absolute;
  bottom: 0;
}

.card-text__style {
  display: flexbox;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--element-font-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.card-text__desk-add {
  padding-right: 107px;
  padding-left: 107px;
}

.card-text__phone-add {
  padding-right: 112px;
  padding-left: 113px;
}

.card-text__desine {
  padding-right: 95px;
  padding-left: 94px;
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-adress {
  margin-top: 20px;
}

.last-color-logo {
  color: var(--element-font-color);
}

.footer-list {
  font-style: normal;
}

.link:not(:first-child) {
  margin-top: 9px;
}

.footer-adress-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--element-font-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.footer-adress-link:hover, .footer-adress-link:focus {
  color: var(--second-color);
}

.footer-contact-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.footer-contact-link:hover, .footer-contact-link:focus {
  color: var(--second-color);
}

.footer-action {
  margin-left: 70px;
}

.footer-icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--element-font-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.footer-link-icon:hover, .footer-link-icon:focus {
  background-color: var(--second-color);
}

.footer-icon-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  color: var(--element-font-color);
}

.footer-icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer-sing-up {
  margin-left: 93px;
}

.footer-folow-mailing {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--element-font-color);
}

.footer-mailing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-form-size {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-icon-send {
  margin-left: 10px;
  margin-right: 13px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 40px 40px 40px 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background-color: var(--element-font-color);
  border-radius: 4px;
}

.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--element-font-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.icon-close, .close-btn {
  -webkit-transition: color, fill;
  transition: color, fill;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.icon-close:focus,
.close-btn:hover {
  color: var(--second-color);
}

.icon-close {
  fill: currentColor;
}

.form-item {
  display: block;
  margin-bottom: 4px;
  margin-top: 12px;
}

.form-item:not(:first-child) {
  margin-top: 10px;
}

.form-label {
  position: relative;
}

.form-input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color;
  transition: border-color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.form-icon {
  position: absolute;
  left: 0;
  margin-left: 12px;
  margin-top: 11px;
  fill: #212121;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.form-label {
  display: block;
}

.form-label:hover .modal-lable-hover {
  outline: transparent;
  border-color: var(--second-color);
  fill: var(--second-color);
}

.form-label .modal-lable-hover:focus {
  outline: transparent;
  border-color: var(--second-color);
}

.modal-lable-hover {
  -webkit-transition: fill, border-color;
  transition: fill, border-color;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.textarea {
  width: 448px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-massege {
  display: block;
  width: 448px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
}

.form-massege::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-massege::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-massege:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-massege::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-massege::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.madal-data-item {
  width: 448px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.madal-data-comment {
  width: 448px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.contract {
  margin-top: 20px;
  text-align: center;
}

.contract-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  border: 2px solid #111319;
  border-radius: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%0AviewBox='0 0 31 24'%3E%3Cpath d='M4.697 11.404l-0.165-0.157-2.48 2.349 8.738 8.336 18.358-17.513-2.464-2.35-15.894 15.148-6.093-5.812z '%0Afill='%23ffffff'%0A/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0;
  cursor: pointer;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.form-checkbox:checked {
  background-color: var(--second-color);
  background-size: 13px;
  border-color: transparent;
}

.form-agreeement-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 3px;
}

.terms-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.madal-button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  text-align: center;
  border: none;
  background-color: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--element-font-color);
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-nav-li {
  border-radius: 4px;
}
.btn-nav-li:not(:last-child) {
  margin-right: 8px;
}

.btn-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background-color: #F5F4FA;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  margin: 0 auto;
  border: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.btn-nav:hover, .btn-nav:focus {
  background-color: var(--second-color);
  color: var(--element-font-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-top: -30px;
}

.item {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}
.item:hover, .item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-list > .item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-title-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.portfolio-text-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.card-div {
  border: 1px solid #EEEEEE;
  border-top: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: var(--transition-duration-standart);
          transition-duration: var(--transition-duration-standart);
  -webkit-transition-timing-function: var(--transition-timing-standart);
          transition-timing-function: var(--transition-timing-standart);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding-left: 24px;
  padding-right: 24px;
  color: var(--element-font-color);
}

.item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */