.container {
   
    padding-left: 15px;
    padding-right: 15px;
     
    



    @media  screen and (min-width:480px) {
        width: 480px; 
        margin: 0 ;
        margin-left: auto;
        margin-right: auto;  
    }
    @media  screen and (min-width:768px) {
        width: 768px;   
    }
    @media  screen and (min-width:1200px) {
        width: 1200px;   

    }
   
   
   

}




    

.container-first {
    padding-bottom: 60px;
    padding-top: 60px; 
    margin: 0;

    @media screen and (min-width: 768px) {
        padding-bottom: 60px;
        padding-top: 60px; 
          
   } 
    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
      
}
}
.container-second{
    padding-bottom: 94px;
    margin: 0;
}