.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);    
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color:var(--element-font-color);

    width: 360px;
    
    margin-bottom: 30px;

    @media screen and (min-width:768px)   {
        font-size: 26px;
        line-height: calc(42 / 26);
        margin: 0 auto;   
        margin-bottom: 30px;
        // width: 36px;
        }

    @media screen and (min-width:1200px)  {
    font-size: 44px;
    line-height: calc(60 / 44);
    margin: 0 auto;   
    width: 696px;
    }
}


.about-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    

    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-color);

    margin-bottom: 10px;

    @media screen and (min-width:480px) and (max-width:768px) {
        text-align: center;
        justify-content: center;
        width: 354px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:768) {
        text-align: left;
        
    }
}



.work-card__title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    
    

    letter-spacing: 0.03em;    
    color: var(--first-color);          
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    letter-spacing: 0.03em;
    color: var(--first-color);
}

.clients-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    letter-spacing: 0.03em;
    color: #212121;
    
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;   
          
   }
}