.header { 
    display: flex;
        justify-content: center;
    border-bottom: 1px solid #ECECEC;
     ;
    background-color:var(--element-font-color);


    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        
        
    }

    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: center;
        width: 1200px;
        position: fixed;
        width: 100%;
        top:0;
        left: 0;
        z-index: 1

        
       
        
    }
}

.header-container{
    display: flex;
    align-items: center;
}
.header-contact-item:hover{
fill: var(--second-color);
}
.header-contacts-list {
    display: none;
    
    
    @media screen and (min-width:768px) {
        display: block;
        margin-left: auto;
        align-items: center;
        
    }
    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: auto;
        align-items: center;
        
        
    }
}
.header-contact-item:not(:first-child){
    margin-left: 0px;
    @media screen and (min-width:1200px) {
        
        margin-left: 50px;
    }
    
}
.header-contact-link {

    @media screen and (min-width:768px) {
        
        
    
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    line-height: calc(16 / 14);

    letter-spacing: 0.02em;
    color: #757575; 

    padding-top: 5px;
    padding-bottom: 5px;
    display: flex ;

    transition-property: color;
    transition-duration: var(--transition-duration-standart);
    transition-timing-function: var(--transition-timing-standart); 
            
&:hover,
&:focus {
    color: var(--second-color);
}
}

@media screen and (min-width:1200px) {
        
    // margin-left: 50px;

font-weight: 500;
font-size: 14px;
align-items: center;
line-height: calc(16 / 14);

letter-spacing: 0.02em;
color: #757575; 

padding-top: 32px;
padding-bottom: 32px;
display: flex ;

transition-property: color;
transition-duration: var(--transition-duration-standart);
transition-timing-function: var(--transition-timing-standart); 
        
&:hover,
&:focus {
color: var(--second-color);
}
}
}
.contact-icon{
    @media screen and (min-width:768px) {
        
        // margin-left: 50px;
    
    margin-right: 10px;
    fill: currentColor;
    }
    
    @media screen and (min-width:1200px) {
        
        // margin-left: 30px;
    
    margin-right: 10px;
    fill: currentColor;
    }
}

