:root{
    --second-font: 'Raleway';
    --first-color: #212121;
    --second-color: #2196F3;
    --element-font-color: #FFFFFF;
    --background-color-section: #F5F4FA;
    --transition-duration-standart: 250ms ;
    --transition-timing-standart:cubic-bezier(0.4, 0, 0.2, 1) ;
}